@model AllittaMMC.Models.TourSort

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/TallentAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<<div class="container-fluid sb2">
    <div class="row">
        <div class="sb2-2">
            <div class="sb2-2-2">
                <ul>
                    <li>
                        <a href="@Url.Action("Index","TourSorts")"><i class="fa fa-home" aria-hidden="true"></i> Geriyə Qayıd</a>
                    </li>

                </ul>
            </div>
            <div class="sb2-2-add-blog sb2-2-1">
                <h2>Otelləri Gözdən Keçir </h2>
                <form>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="list-title" type="text" value="@Model.SortBy" name="Hotel1" class="validate">
                            <label for="list-title">Növ Adı</label>
                        </div>



                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
