@model AllittaMMC.Models.Additional_Info

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/TallentAdmin/Views/Shared/_LayoutPage1.cshtml";
}



@using (Html.BeginForm("Create", "Additional_Info",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="container-fluid sb2">
        <div class="row">
            <div class="sb2-2">
                <div class="sb2-2-2">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index","Additional_Info")"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>
                       
                    </ul>
                </div>
                <div class="sb2-2-add-blog sb2-2-1">
                    <h2>Yeni Paketlər Əlavə Et </h2>
                    <form>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="list-title" type="text" value="" name="Location" class="validate">
                                <label for="list-title">Ölkə</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="list-title" type="text" value="" name="Duration" class="validate">
                                <label for="list-title">Müddət</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="list-title" type="number" min="0" max="100" value="" name="Min_Age" class="validate">
                                <label for="list-title">Minimum Yaş</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="list-title" type="number" min="0" value="" name="Max_People" class="validate">
                                <label for="list-title">Maksimum İnsan</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="list-title" type="text" value="" name="Landing" class="validate">
                                <label for="list-title">Açılış</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="list-title" type="text" value="" name="Check_In" class="validate">
                                <label for="list-title">Giriş Vaxtı</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="list-title" type="text" value="" name="Check_Out" class="validate">
                                <label for="list-title">Çıxış Vaxtı</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="submit" class="waves-effect waves-light btn-large" value="Submit">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}


