@model AllittaMMC.Models.Hotel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/TallentAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","Hotels",FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <<div class="container-fluid sb2">
        <div class="row">
            <div class="sb2-2">
                <div class="sb2-2-2">
                    <ul>
                        <li>
                            <a href="@Url.Action("Index","Hotels")"><i class="fa fa-home" aria-hidden="true"></i> Geriyə Qayıd</a>
                        </li>

                    </ul>
                </div>
                <div class="sb2-2-add-blog sb2-2-1">
                    <h2>Yeni Hotel Yarad </h2>
                    <form>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="list-title" type="text"  name="Hotel1" class="validate">
                                <label for="list-title">Hotel</label>
                            </div>

                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="submit" class="waves-effect waves-light btn-large" value="Submit">
                                </div>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
}


