@model AllittaMMC.Models.OurTeam

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/TallentAdmin/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create","OurTeams",FormMethod.Post,new {enctype= "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="sb2-2">
            <div class="sb2-2-add-blog sb2-2-1">
                <div class="box-inn-sp">
                    <div class="inn-title">
                        <h4>Yeni İşçi Yarad</h4>
                    </div>
                    <div class="bor">
                        <form>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="list-title" type="text" name="Fullname" class="validate">
                                    <label for="list-title">Ad Soyad</label>
                                </div>
                                <div class="input-field col s12">
                                    <div class="file-field">
                                        <div class="btn">
                                            <span>File</span>
                                            <input type="file" name="Image">
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" placeholder="Upload Blog Banner" name="Image">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="list-title" type="text" class="validate" name="Job" />
                                    <label for="list-title">Peşəsi</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="list-title" class="validate" type="email" name="Email" />
                                    <label for="list-title">Email</label>

                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <input type="submit" class="waves-effect waves-light btn-large" value="Submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


